
/* Hide the default scrollbar */
::-webkit-scrollbar {
  display: none;
}

/* Create custom scrollbar track */
::-webkit-scrollbar-track {
  background-color: #f5f5f5;
  width:3px;
}

/* Create custom scrollbar thumb */
::-webkit-scrollbar-thumb {
  background-color: #ccc;
  width:3px;
}

/* Change scrollbar thumb on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: #999;
}

body {
    display: flex;
    justify-content: center;
    font-family:Arial, Helvetica, sans-serif;
background-color: rgb(226, 226, 226);

}

.main{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width:600px;
    height:600px;
    background-color: rgb(145, 145, 145);
    color:#ffffff;
}


.heading{
    display:flex;
    justify-content: center;
    margin:10px;

}


input{
    margin:20px;
    margin-left:20px;
    margin-right:20px;
    height:40px;
    border:none;
}

button[type="submit"]{
    height:40px;
    width:100px;
    margin:10px;

}
button[type="submit"]:hover{
    cursor: pointer;
    transform: scale(1.05);
    transition-duration: 0.2s;
}
button.add{
    background-color: #37c3ff;
    color:white;
    border:none;
}
button.del {
width:100px;
height:40px;
margin:10px;
border:none;
color:white;
background-color: #ff5d55;

}
button.del:hover{
  cursor: pointer;
    transform: scale(1.05);
    transition-duration: 0.2s;
}


.buttons{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
}

#sel{
    margin:20px;
    margin-left:20px;
    margin-right:20px;
    height:30px;
    border: none;
  border-bottom: 1px solid #ccc;
    background-color: rgb(145, 145, 145);
    
}
#desc::placeholder{
    padding-left: 5px;
}
#desc:focus{
    outline: none;
    background-color: rgb(145, 145, 145);
}

#desc{
    background-color: rgb(145, 145, 145);
    border: none;
  border-bottom: 1px solid #ccc;
}

.list-item{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
    width:250px;
    height:50px;
  margin:10px;
  
 
 
  border-bottom: 1px solid rgb(213, 213, 213);
}
.green{
  color:green;
}
.white{
  color:white;
}
.sec1{
  display: flex;
  flex-direction: column;
  width:150px;
  color:white;

}
.sec2 {
  display: flex;
  flex-direction: row;
  color:#ffffff;
  font-weight: 600;
}
.description {
  font-size: smaller;
  padding:4px;
  
}
input[type = 'checkbox'] {
  width:20px;
  margin:5px;
}
.date ,.time {
  font-size:x-small;
  padding: 4px;
}
.cat {
  width:70px;
  font-size: small;
  color: #ffffff;
  
}
.list{
display: flex;
flex-direction: column;
align-items: center;
width:350px;

padding-top:20px;

    
    
}



/* Style the label */
label {
    display: block;
    margin-left:25px;
    font-size: 16px;
    font-weight: bold;
  }
  
  /* Style the date and time inputs */
  .datetime-input {
    display: flex;
   align-items: center;
    width:250px;
    height: 40px;
margin:10px;
   padding: 10px;
  }
  
  .datetime{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .datetime-input input[type="date"],
  .datetime-input input[type="time"] {
    border: none;
    background-color: rgb(184, 184, 184);
    font-size: 13px;
    font-family: Arial, sans-serif;
    padding:10px;
    color:white;
    margin:1px;
    flex: 1;
  }
  
  
  
  .datetime-input input[type="date"]:focus,
  .datetime-input input[type="time"]:focus {
    outline: none;
  }
  
.scrollable {
   display:flex;
   width:350px;
   height:550px;
   margin-top:20px;
   overflow-y: scroll;
   overflow-x: hidden;
   background-color:rgb(163, 163, 163);
   border: 1px solid rgb(163, 163, 163);
   border-radius: 5px;
}
